.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url('./edj.jpg'); */
  color: white;
}

.App-link {
  color: #61dafb;
}
.main{
  /* background-color: #3d4177; */
}
.image2{
  width: 20rem,
}
